font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

html {
  background-color: #EFF3F9;
}

body {
  font-family: "Montserrat";
  background-color: #EFF3F9;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
}

p {
  color: #8f8f8f;
}

/* Title */

#title {
  color: #000;
}

.container-fluid {
  padding: 1% 3% 2%;
  border-bottom: 2px solid #dcdcdc;
}

.title-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#titleImg {
  width: 50%;
}



/* Google Search */

.logo{
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
}
.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  overflow: hidden;

}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:575px;
  font-size:16px;
  outline: none;
  padding-left: 20px;

}


/* .btnGoogle {
  display: block;
  text-align: center;
  margin-top: 25px;
}

.glow-on-hover {
    width: 200px;
    height: 30px;
    border: 1px solid #dadce0;
    outline: none;
    color: #3c4043;
    background: #f8f9fa;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f9fa;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */

.searchFunction {
  padding: 2.5%;
  text-align: center;
  color: #fff;
}

/* Feature Section */



#features {
padding: 4% 8%;
position: relative;
}

.feature-box {
  background: #F7F9FB;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #73777B;
  cursor: pointer;
  text-align: left;
  margin-bottom: 20px;
  padding: 6px;
  display: flex;
  align-items:center;
  height: 80px;
}


@media (hover: hover) {
  .feature-box:hover{
  transform: scale3d(1.05,1.05,1.05);
  }
}

.titleWidth {
  width: 95%;
}

.fa-plus {
  float: right;

}

.fa-minus {
  float: right;
}

#subLvl1 {
  display: none;
  margin-left: 20px;
}

#subLvl2 {
  display: none;
  margin-left: 40px;
}

.areaTitle {
  margin-left: 5px;
  margin-bottom: 15px;
}

.linkName {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.linkDescription {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 400;
}

#features i {
  color: #22A39F;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}


/* #features i:hover {
  color: #ff4c68;
} */

/* #features p {
  display: inline-block;
} */


/* Footer */

#footer {
  margin-top: 8%;
  text-align: center;
}


/* Mobile Queries */

@media only screen and (min-width: 769px) and (max-width: 1199px) {

  .col-lg-12 {
    margin-left: auto;
    margin-right: auto;
    width: 75%
  }

  .areaTitle {
    margin-top: 30px;
  }

  /* .feature-box {
    width: 75%;
  } */
}




@media only screen and (max-width: 768px) {

  .container-fluid {
    padding-bottom: 6%;
  }
#searchImg {
  width: 70%;
}

#features {
  padding: 4% 1%;
}

  .areaTitle {
    margin-top: 20px;
  }

  .linkName {
    font-size: 20px;
  }

  .linkDescription {
    font-size: 18px;
  }

  .bar{
    width:320px;

  }

  .searchbar{
    width:320px;
  }

  #subLvl1 {
    margin-left: 15px;
  }

  #subLvl2 {
    margin-left: 25px;
  }

}
